/* Checkbox */

.checkbox {
    position: relative;
    margin-bottom: 20px;

    .checkbox__input {
        appearance: none;
        // -webkit-appearance: none;
        position: absolute;
    }

    .checkbox_label {
        font-size: 16px;
        color: rgb(49, 24, 24);
        padding-left: 25px;
        cursor: pointer;

        &::before {
            content: "";
            display: block;
            // display: inline-block;
            // position: relative;
            // top: 2px;
            width: 16px;
            height: 16px;
            border: 1px solid #ccc;
            border-radius: 3px;
            background: white;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            transition: background 300ms ease-out, border 300ms ease-out;
        }

        &::after {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            background: url('../assets/img/check.png') no-repeat;
            background-size: 16px 16px;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 1px;
            z-index: 2;
            transition: opacity 300ms ease-out;
        }
    }

    .checkbox__input:checked+.checkbox_label::before {
        // opacity: 1;
        background-color: #24b31d;
        border-color: #e6f602;
    }

    .checkbox__input:checked+.checkbox_label::after {
        opacity: 1;
    }
}

/* Radio */
.radio {
    position: relative;
    margin-bottom: 20px;

    .radio__input {
        // appearance: none;
        // -webkit-appearance: none;
        position: absolute;
    }

    .radio__label {
        font-size: 16px;
        color: rgb(49, 24, 24);
        padding-left: 25px;
        cursor: pointer;

        &::before {
            content: "";
            width: 16px;
            height: 16px;
            display: block;
            border: 1px solid #ccc;
            border-radius: 3px;
            background: white;
            position: absolute;
            // top: 0;
            // left: 0;
            // z-index: 1;
            transition: background 300ms ease-out, border 300ms ease-out;
            background: #24b31d;
        }

        &::after {
            content: '';
            width: 16px;
            height: 16px;
            background: url('../assets/img/check.png') no-repeat;
            background-size: 12px 12px;
            display: block;
            // background: #24b31d;
            // border-radius: 50%;
            position: absolute;
            top: 2px;
            left: 3px;
            // z-index: 2;
            opacity: 0;
            transition: opacity 700ms ease-out;
        }
    }

    .radio__input:checked+.radio__label::before {
        filter: drop-shadow(1px 1px 7px rgb(8, 225, 26));
        border-color: #0a7b04;
    }

    .radio__input:checked+.radio__label::after {
        opacity: 1;
    }
}

/*Select*/
.select {
    // appearance: none;
    position: relative;
    margin-bottom: 15px;

    &::after {
        content: '';
        display: block;
        border-style: solid;
        border-width: 8px 7.5px 0 7.5px;
        border-color: #84a429 transparent transparent transparent;
        position: absolute;
        top: 50%;
        right: 1rem;
        z-index: 1;
        margin-top: -3px;
        pointer-events: none;
    }

    select {
        display: block;
        width: 100%;
        padding: .75rem 2rem .75rem 1rem;
        background: none;
        border: 1px solid #ccc;
        border-radius: 3px;
        appearance: none;
        font-family: inherit;
        font-size: 1rem;
        color: #444;
    }
}

.select select {
    &:focus {
        outline: 0;
        border-color: rgb(234, 6, 93);
    }
}